/* Styles for printing only */
@media print {
    /* Hide elements with the 'no-print' class */
    .no-print {
        display: none !important;
    }

    /* You can also target specific tags */
    header {
        display: none !important;
    }
}