---
title: Resume
layout: home
---

{% require 'digest' %}

<div style="background-color: var(--tf-page-bg-color);" class="bg-gradient py-3">
  <div class="container">
    {% if site.data.bio.work %}
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Work</h1>
      </div>
      <div class="col-lg-9">
        {% for entry in site.data.bio.work %}
        <div class="row mb-3">
          <div class="col-9">
            <p class="mb-0"><b>Company: {{ entry.company }}</b></p>
            <p class="mb-0">Address: {{ entry.address }}</p>
            <p class="mb-0">Supervisor: {{ entry.supervisor }}</p>
            <p class="mb-0">Phone: {{ entry.phone }}</p>
            <p class="mb-0">URL: <a href="{{ entry.website }}">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
            <p class="mb-0">Position: {{ entry.position }}</p>
            <p class="mb-0">Duties: {{ entry.summary }}</p>
            {% if entry.highlights %}
            <ul>
              {% for highlight in entry.highlights %}
              <li>{{ highlight }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <p class="mb-0">Supervised:
              <input id="{{ entry.id + 'Y' }}" type="checkbox" {% if entry.supervised %}checked{% endif %}><label for="{{ entry.id + 'Y' }}">Yes</label>&nbsp;
              <input id="{{ entry.id + 'N' }}" type="checkbox" {% if !entry.supervised %}checked{% endif %}><label for="{{ entry.id + 'N' }}">No</label>&nbsp;&nbsp;
              # ofEmployees:&nbsp;{{ entry.supervised }}</p>
          </div>
          <div class="col-3">
            <p class="m-0">
              From: {% if entry.startDate %}
              {{ entry.startDate | slice: 5,2 }}/{{ entry.startDate | slice: 0,4 }}
              {% endif %}
            </p>
            <p class="m-0">
              {% if entry.endDate %}
              To: {% if entry.endDate != "Present" %}
              {{ entry.endDate | slice: 5,2 }}/{{ entry.endDate | slice: 0,4 }}
              {% else %}
              {{ entry.endDate }}
              {% endif %}
              {% endif %}
            </p>
            <p class="m-0"></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
